.charts {
    display: flex;
    margin-top: 22px;
    width: 100%;
    gap: 30px;
  }

  .charts-item {
    flex-basis: 70%;
    border: 1px solid #000; /* Example border */
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Apply shadow */
    cursor: pointer;
    border-radius: 4px;
    height: 150%;
  }

  .flex-item {
    flex-basis: 30%;
    border: 1px solid #000; /* Example border */
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Apply shadow */
    cursor: pointer;
    border-radius: 4px;
    height: 150%;
  }

  .pie-item {
    cursor: pointer;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .custom-header {
    background-color: #F8F9FC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #EDEDED;
    margin-bottom: 20px;
  }

  .pie-box{
    background-color: #F8F9FC;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #EDEDED;
    display: flex;
    justify-content: space-between;
  }

  .text6{
    font-size: 11px;
  }
  .text7{
    font-size: 11px;
  }
  
  
  
  
  