/*.pagetitle {
    margin-bottom: 10px;
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
    color: #012970;
}*/

/*.page{
    point: 25px;
    
    background: #F8F9FC;
}*/
/*.pager{
    display : flex;
    align-items:center ;
    justify-content: space-between;
}*/
.custom-box {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #F8F9FC;
  }
  
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
.custom-text {
    color: #5a5c69;
    font-size: 28px;
    line-height: 34px;
    font-weight: normal;
    cursor: pointer;
  }
  
/*.pagetitle {
    text:#5a5c69;
    text:28px; 
    font:normal; 
    cursor:pointer'
}
.report {
    background-color:#1E90FF; 
    height: 32px;
    border-radius: 2px solid #2E59D9;  
    text:white; 
    flex:center; 
    justify:center; 
    cursor:pointer;
}*/
.custom-element {
    background-color: #2E59D9;
    height: 32px;
    border-radius: 3px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
  }
  
  
